<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <img src="../../assets/logo.png" class="me-2" style="width: 110px" />
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto align-items-center mt-lg-0">
        <li class="nav-item pt-2" role="button">
          <i class="fab fa-facebook me-3"></i>
          <i class="fab fa-twitter me-3"></i>
          <i class="fab fa-linkedin me-3"></i>
          <i class="fab fa-instagram me-3"></i>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active-link"
            >Log In</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active-link"
            >Register</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
